/*ALL*/
@font-face {
    font-family: 'ROG LyonsType Regular';
    font-style: normal;
    font-weight: 99999;
    src: local('ROG LyonsType Regular'), url('../../font/ROGLyonsTypeRegular3.woff') format('woff');
    }

*{
    font-family: 'ROG LyonsType Regular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background: linear-gradient(to top left,rgb(0, 0, 0),rgb(16, 24, 59)) ;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*BURGER AND LOGO*/

.container{
    display: flex;
    justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
}

#logo{
    width: 10em;
    transition: transform 0.7s;
    margin: 2em;
}

#logo:hover{
    transform: scale(1.5);
}

.burger{
    justify-content: center;
    text-align: right;
    align-items: right;
    width: 50%;
    display: none;
}

#burger{
    width: 3em;
    margin: 2em;
    cursor: pointer;
    margin-top: 15px;
}


/*MENU*/

.menu_items{
    font-size: 1rem;
    display: flex;
    text-align: center;
    height: 5vh;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    width: 100%;
    list-style: none;
}

.menu_links{
    text-decoration: none;
    display: inline-block;
    margin: 3.3vw;
    transition: transform 0.7s
}


.menu_links:hover{
    color: #0095FF;
    transform: scale(1.5);
    border-bottom: #0095FF solid 2px;
}


/*LANGUAGE BUTTON*/

.switch_lang{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2vh;
}

.button_lang{
    margin: 1em;
    font-size: 0.9rem;
    background: transparent;
    border: #0095FF solid 2px;
    padding: 0.8em;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.button_lang:hover{
    color: #0095FF;
    border: #ffffff solid 2px;
}


/*FOOTER*/

footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.367);
    width: 100%;
    height: 4vh;
    font-size: 0.7rem;
    margin-top: auto;
}

.footer_links{
    margin: 20px;
    text-decoration: none;
    color:white
}

.footer_links:hover{
    color:#0095FF;
}


/*RELEASED*/
.released{
    font-size: 2rem;
    text-align: center;
    margin-top: 4vh;
    width: 100%;
}

/*PROJECTS*/
.project{
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.project_img{
    width: 110em;
    border-radius: 2em;
}

.project_text{
    font-size: 1rem;
    margin-top: 1vh;
}


/*PHONE*/
@media only screen and (max-width: 767px) {
    body{
        background: linear-gradient(to top,rgb(0, 0, 0),rgb(16, 24, 59)) ;
    }

    .container{
        height: 9vh;
    }
    
    .menu_items{
        flex-direction: column;
        column-gap: 2rem;
        height: 32vh;
        justify-content:unset;
        background-color: #0E1535;
        position:absolute;
    }
    .menu_links{
        color:#0095FF;
    }
    
    .menu_links:hover{
        border-bottom: none;
        transform: none;
        color: white;
    }

    .logo{
        justify-content: left;
    }

    #logo:hover{
        transform: none;
    }

    .burger{
        display: block;
    }

    #logo{
        width: 5em;
    }

    .switch_lang{
        margin-top: 0;
    }
    
    .button_lang{
        font-size: 0.7rem;
        padding: 0.8em;
        border-radius: 8px;
    }
    
    .button_lang:hover{
        color: white;
        border: #0095FF solid 2px;
    }
    
    footer{
        font-size: 0.5rem;
    }

    .footer_links:hover{
        color: white;
    }

    .menu-visible {
        display: block;
    }

    .menu-hidden {
        display: none;
    }

    .released{
        font-size: 1.1rem;
    }
    
    .project_img{
        width: 30em;
        border-radius: 1em;
    }
    
    .project_text{
        font-size: 0.6rem;
    }
}


/*TABLET*/

@media only screen and (min-width: 767px) and (max-width: 1199px) {
    .menu_links:hover{
        border-bottom: none;
        transform: none;
        color: white;
    }

    #logo:hover{
        transform: none;
    }

    .footer_links:hover{
        color: white;
    }

    .switch_lang{
        margin-top: 3vh;
    }
    
    .button_lang{
        font-size: 0.7rem;
        padding: 0.8em;
        border-radius: 8px;
    }
    
    .button_lang:hover{
        color: white;
        border: #0095FF solid 2px;
    }

    .released{
        font-size: 1.4rem;
    }
    
    .project_img{
        width: 60em;
        border-radius: 2em;
    }
    
    .project_text{
        font-size: 0.8rem;
    }
}


/*HD laptop*/
@media only screen and (min-width: 1200px) and (max-width: 1598px) {
    .menu_items{
        font-size: 0.7rem;
    }
    
    .switch_lang{
        margin-top: 2vh;
    }
    
    .button_lang{
        font-size: 0.6rem;
        padding: 0.8em;
        border-radius: 8px;
    }

    .released{
        font-size: 1.7rem;
    }
    
    .project_img{
        width: 90em;
    }
    
    .project_text{
        font-size: 0.9rem;
    }
}


/*HD+ laptop*/
@media only screen and (min-width: 1599px) and (max-width: 1800px) {

    .menu_items{
        font-size: 0.8rem;
    }

    .switch_lang{
        margin-top: 2vh;
    }
    
    .button_lang{
        font-size: 0.7rem;
        padding: 0.8em;
        border-radius: 8px;
    }

    .released{
        font-size: 1.9rem;
    }
    
    .project_img{
        width: 100em;
    }
    
    .project_text{
        font-size: 0.9rem;
    }
}


/*FULL HD*/
@media only screen and (min-width: 1801px) and (max-width: 2000px){
    .switch_lang{
        margin-top: 2vh;
    }
    
    .button_lang{
        font-size: 0.8rem;
        padding: 0.8em;
        border-radius: 8px;
    }

    .released{
        font-size: 1.9rem;
    }
    
    .project_img{
        width: 120em;
    }
    
    .project_text{
        font-size: 1rem;
    }
}




